/* VARIABLES */
:root{

    --color-principal: #e0ff00;
    --color-principalHover: #ffff00;
    --color-secundario: #121212;
    --color-rosa: #ea90ff;
    --color-verde: #25d366;
    --color-grisNav: rgba(208, 208, 208, .7);
    --color-grisFondo: #f5f5f5;
    --color-parrafos: #c1c1c1;
    --color-black: #000;
    --color-white: #fff;

    --fluid-min-width: 320;
    --fluid-max-width: 1200;
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
    --f-0-min: 16.00;
    --f-0-max: 21.00;
}

/*RESET*/
html {
    box-sizing: border-box;
    color: var(--color-white); 
    font-size: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *var(--fluid-bp));
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background: var(--color-secundario);
    font-family: 'DM Sans', sans-serif;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3{
    font-size: 1.7rem;
}
a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none; }

p {
    margin-bottom: 0;
    font-size: .8rem;
    line-height: 1.3rem; }

.logo{
    width: 170px;
}
.contenedor{
    width: clamp(400px, 60vw, 600px);
}
.subtitulo{
    color:#ffff00;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.wrapper{
    margin: 0 auto;
    padding: 30px 0 0;
}
.wrapper_titulos{
    margin-bottom: 80px;
    text-align: center;
}


/*Botones*/
.boton-principal{
    padding: 12px 22px;
    color: var(--color-black);
    background-color: var(--color-principal);
}
.boton-principal:hover{
    color: var(--color-black);
    background-color: var(--color-principalHover);
    cursor: pointer;
}


/* BANNER */
.banner{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: .7rem;
    color: var(--color-secundario);
    background-color: var(--color-rosa);
}

.banner a{
    color: var(--color-black);
}
.banner a:visited{
    color: var(--color-black);
}
.banner a:hover{
    color: var(--color-principalHover);
}



/*MENÚ  DE  NAVEGACIÓN*/
.navegacion{
    position: sticky;
    top: 64px;
    z-index: 998;
    padding: 10px 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
}
.enlaces{
    width: 400px;
    height: 40px;
}
.enlaces ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlaces ul li{
    margin: 0 10px;
    width: 150px;
    align-content: center;
    text-align: center;
}
.enlaces ul li:last-child a{
    color: var(--color-black);
}


/*HEADER*/
.header{
    padding: 30px;
    border-bottom: .5px solid var(--color-parrafos);
    width: 100%;
    height: 90vh;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-secundario);
}
.header h1{
    margin-bottom: 20px;
    font-size: 2.4rem;
}
.header h2{
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.header div p{
    margin: 30px 0 40px;
    font-size: .7rem;
    font-weight: 500;
    color: var(--color-parrafos);
    line-height: 1.4;
}
.header .info__header{
    width: 55%;
    height: inherit;
}
.header .img__header{
    width: 40%;
    height: inherit;
}
.header .linea{
    margin: 40px 0 20px;
    width: 50px;
    height: 5px;
    background-color: var(--color-principal);
}


/*Main*/
.desafios{
    max-width: 1200px;
    height: 85vh;
    display: grid;
    grid-template-columns: minmax(100px,40%) minmax(100px,40%);
    grid-template-rows: 150px 250px;
    grid-template-areas: 
        "titulos     titulos  "
        "article1    article2 ";
    justify-content: space-evenly;
    background-color: var(--color-secundario);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ";
}
.desafios__titulo{
    margin: 20px 0 30px;
    grid-area: titulos;
    text-align: center;
}
.desafios__article1{
    grid-area: article1;
}
.desafios__article2{
    grid-area: article2;
}


/*Empresas*/
.empresas{
    height: contain;
    background-color: var(--color-white);
}
.empresas >p{
    color: var(--color-secundario);
}
.empresas h3{
    color: var(--color-secundario);
}
.empresas__logos{
    margin: 0 auto;
    width: 90%;
	display: grid;
    gap: 1rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr));
    justify-items: center;
}
.empresas__logos a{
	margin: 15px auto !important;
}
.empresas__logos div{
    width: 160px;
}
.empresas__logos img{
	width: 150px;
	height: 100px;
}


/*Jurado*/
.jurado{
    height: 800px;
    background-color: var(--color-secundario);
}
.card{
    color: #121212;
}







/*Footer*/
.footer{
	color: #fff;
	background: var(--color-footer);
}
.footer__enlaces{
	padding: 40px 15px 0 ; 
}
.footer__enlaces img{
	width: 50px;
	height: 60px;
	grid-area: logo;
}
.footer__enlaces, .enlaces__nosotros{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.enlaces__nosotros, .enlaces__servicios, .enlaces__proyectos{
	margin-bottom: 25px;
}
.enlaces__nosotros{
	grid-area: nosotros;
}
.enlaces__servicios{
	grid-area: servicios;
}
.enlaces__proyectos{
	grid-area: proyectos;
}
.enlaces__nosotros p{
	font-family: var(--font-texto);
	font-size: 14px;
	line-height: 1.6;
	color: var(--enlaces-footer);
}
.enlaces__servicios li a:hover, .enlaces__proyectos li a:hover{
	color: var(--color-principal);
	font-weight: 500;
	letter-spacing: 1px;
}
.footer__pie{
	height: 130px;
	color: white;
	background: var(--color-copyright);
}
.footer__pie h3{
	margin-top: 0 !important;
	padding-top: 5px;
}
.pie__rrss {
	padding: 0 15px !important;
	text-align: center;
}
.pie__rrss ul{
	margin: 0 !important;
	padding: 0 20px !important;
	display: flex;
	justify-content: space-evenly;
	font-size: 16px;
}
.fa-facebook-f, .fa-linkedin-in, .fa-twitter, .fa-youtube, .fa-instagram{
	color: var(--color-principal);
}
.pie__copyright{
	padding-top: 15px;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.pie__copyright p, .pie__copyright button{
	margin: 0 10px;
	font-style: var(--font-texto);
	color: #8b8b8b;
}
.pie__copyright button{
	color: #8b8b8b;
	background: none;
	border: none;
}
.autor{
	margin: 5px 0 0;
	text-align: center;
	color: #8b8b8b;
}
.autor a{
	color: var(--color-principal);
}


/* INGRESAR */
.wrapper__registro{
    width: 100%;
    height: 100vh;
}
.wrapper__registro__formulario{
    width: 50%;
    background: white;
}
.wrapper__registro__slider{
    width: 50%;
}
.contenedor__formulario{
    margin: 0 auto;
    width: 80%;
    max-width: 452px;
    background-color: aqua;
}
.logo__black{
    height: 50px;
}
