/* VARIABLES */
:root{

    --color-principal: #e0ff00;
    --color-principalHover: #ffff00;
    --color-secundario: #121212;
    --color-rosa: #ea90ff;
    --color-verde: #25d366;
    --color-grisNav: rgba(208, 208, 208, .7);
    --color-grisFondo: #f5f5f5;
    --color-parrafos: #c1c1c1;
    --color-black: #000;
    --color-white: #fff;

    --fluid-min-width: 320;
    --fluid-max-width: 1200;
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
    --f-0-min: 16.00;
    --f-0-max: 21.00;
}

/*RESET*/
html {
    box-sizing: border-box;
    color: #313131; 
    font-size: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *var(--fluid-bp));
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background: red;
    font-family: 'DM Sans', sans-serif;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none; }

p {
    margin-bottom: 0;
    line-height: 1.3rem; }

.logo{
    width: 170px;
}
.contenedor{
    width: clamp(400px, 60vw, 600px);
}

/*Botones*/
.boton-principal{
    padding: 12px 22px;
    color: var(--color-black);
    background-color: var(--color-principal);
}
.boton-principal:hover{
    color: var(--color-black);
    background-color: var(--color-principalHover);
    cursor: pointer;
}


/* BANNER */
.banner{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: .7rem;
    background-color: var(--color-rosa);
}
.banner p{
    /* margin: 10px 0; */
}
.banner a{
    color: var(--color-black);
}
.banner a:visited{
    color: var(--color-black);
}
.banner a:hover{
    color: var(--color-principalHover);
}



/*MENÚ  DE  NAVEGACIÓN*/
.navegacion{
    position: sticky;
    top: 64px;
    z-index: 998;
    padding: 10px 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
}
.enlaces{
    width: 400px;
    height: 40px;
}
.enlaces ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlaces ul li{
    margin: 0 10px;
    width: 150px;
    align-content: center;
    text-align: center;
}
.enlaces ul li:last-child a{
    color: var(--color-black);
}




/*HEADER*/
.header{
    /* position: absolute;
    top: 180px; */
    padding: 30px;
    border-bottom: .5px solid var(--color-parrafos);
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-black);
}
.header h1{
    margin-bottom: 20px;
    font-size: 2.4rem;
}
.header h2{
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.header div p{
    margin: 30px 0 40px;
    font-size: .7rem;
    font-weight: 500;
    color: var(--color-parrafos);
    line-height: 1.4;
}
.header .info__header{
    width: 55%;
    height: inherit;
}
.header .img__header{
    width: 40%;
    height: inherit;
}
.header .linea{
    margin: 40px 0 20px;
    width: 50px;
    height: 5px;
    background-color: var(--color-principal);
}


/*Main*/
.main{
    height: 85vh;
    /* background-color: #ffff00; */
}


/*Empresas*/
.empresas{
    height: 85vh;
    background-color: green;
}


/*Jurado*/
.jurado{
    height: 85vh;
    background-color: orange;
}

/*Desafíos*/
.desafios{
    height: 85vh;
    background-color: green;
}

/*Footer*/
.footer{
    height: 30vh;
    background-color: lightskyblue;
}


/* INGRESAR */
.wrapper__registro{
    width: 100%;
    height: 100vh;
}
.wrapper__registro__formulario{
    width: 50%;
    background: white;
}
.wrapper__registro__slider{
    width: 50%;
}
.contenedor__formulario{
    margin: 0 auto;
    width: 80%;
    max-width: 452px;
    background-color: aqua;
}
.logo__black{
    height: 50px;
}
