/* VARIABLES */
:root{

    --color-principal: #e0ff00;
    --color-principalHover: #ffff00;
    --color-plataforma: #e5e876;
    --color-secundario: #121212;
    --color-rosa: #ea90ff;
    --color-verde: #25d366;
    --color-grisNav: rgba(208, 208, 208, .7);
    --color-grisFondo: #f5f5f5;
    --color-parrafos: #c1c1c1;
    --color-black: #000;
    --color-white: #fff;
    --color-txtForm: #627597;
    --color-background: #1f2023;

    --fluid-min-width: 320;
    --fluid-max-width: 1200;
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
    --f-0-min: 16.00;
    --f-0-max: 21.00;

    --text-consola: 'Inconsolata', monospace;
    --text-login: 'Ubuntu', sans-serif;
    --text-DMSans: 'DM Sans', sans-serif;
    --text-Monset: 'Montserrat', sans-serif;
}

/*RESET*/
html {
    box-sizing: border-box;
    color: var(--color-white); 
    font-size: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *var(--fluid-bp));
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background: var(--color-secundario);
    font-family: var(--text-DMSans);
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--text-Monset);
    font-weight: 700;
}

h3{
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    font-family: var(--text-Monset);
    font-size: .8rem;
    font-weight: 500;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin-bottom: 0;
    font-size: .8rem;
    line-height: 1.3rem;
}

label{
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 500;
    font-family: var(--text-consola);
    color: var(--color-principal);
}

.logo{
    width: 170px;
}
.contenedor{
    width: clamp(400px, 60vw, 600px);
}
.subtitulo{
    color: var(--color-principal);
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.wrapper{
    margin: 0 auto;
    padding: 30px 0 0;
}
.wrapper_titulos{
    margin-bottom: 80px;
    text-align: center;
}


/*Botones*/
.boton-principal{
    padding: 12px 22px;
    color: var(--color-black);
    background-color: var(--color-principal);
}
.boton-principal:hover{
    color: var(--color-black);
    background-color: var(--color-principalHover);
    cursor: pointer;
}
.boton-form{
    margin: 15px auto 0;
    padding: 10px 15px;
    border: 1px solid var(--color-txtForm);
    display: block;
    color: var(--color-txtForm);
    font-size: .9rem;
    font-family: var(--text-consola);
    border-radius: 5px;
    background-color: transparent;
    transition: all .6s ease-in-out;
}
.activado{
    border: 1px solid var(--color-principalHover);
    color: var(--color-principalHover);
}
.bloqueado{
	cursor: not-allowed !important;
	opacity: 60%;
}


/* BANNER */
.banner{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: .7rem;
    color: var(--color-secundario);
    background-color: var(--color-rosa);
}

.banner a {
    color: var(--color-principalHover)  !important;
    font-weight: 600;
    text-decoration: underline;
}
.banner a:visited{
    color: var(--color-black);
}
.banner a:hover{
    color: var(--color-white) !important;
}



/*MENÚ  DE  NAVEGACIÓN*/
.navegacion{
    position: sticky;
    top: 64px;
    z-index: 998;
    padding: 0 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
}
.enlaces{
    width: 400px;
    height: 40px;
}
.enlaces ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlaces ul li{
    margin: 0 10px;
    width: 150px;
    align-content: center;
    text-align: center;
}
.enlaces ul li:last-child a{
    color: var(--color-black);
}


/*HEADER*/
.header{
    padding: 30px;
    border-bottom: .5px solid var(--color-parrafos);
    width: 100%;
    height: 90vh;
    display: flex;
    color: var(--color-white);
    background-color: var(--color-secundario);
}
.header h1{
    margin-bottom: 20px;
    font-size: 2.4rem;
}
.header h2{
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.header div p{
    margin: 30px 0 40px;
    font-size: .7rem;
    font-weight: 500;
    color: var(--color-parrafos);
    line-height: 1.4;
}
.header .info__header{
    width: 55%;
    height: inherit;
}
.header .img__header{
    width: 40%;
    height: inherit;
}
.header .linea{
    margin: 40px 0 20px;
    width: 50px;
    height: 5px;
    background-color: var(--color-principal);
}


/*Main*/
.desafios{
    max-width: 1200px;
    height: 85vh;
    display: grid;
    grid-template-columns: minmax(100px,40%) minmax(100px,40%);
    grid-template-rows: 150px 250px;
    grid-template-areas: 
        "titulos     titulos  "
        "article1    article2 ";
    justify-content: space-evenly;
    background-color: var(--color-secundario)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ";
}
.desafios__titulo{
    margin: 20px 0 30px;
    grid-area: titulos;
    text-align: center;
}
.desafios__article1{
    grid-area: article1;
}
.desafios__article2{
    grid-area: article2;
}


/*Empresas*/
.empresas{
    height: contain;
    background-color: var(--color-white);
}
.empresas >p{
    color: var(--color-secundario);
}
.empresas h3{
    color: var(--color-secundario);
}
.empresas__logos{
    margin: 0 auto;
    width: 90%;
	display: grid;
    gap: 1rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr));
    justify-items: center;
}
.empresas__logos a{
	margin: 15px auto !important;
}
.empresas__logos div{
    width: 160px;
}
.empresas__logos img{
	width: 150px;
	height: 100px;
}


/*Jurado*/
.jurado{
    height: 700px;
    background-color: var(--color-secundario);
}
.card{
    width: 350px;
    max-height: 430px;
    background: var(--color-secundario);
    background: -webkit-linear-gradient(to bottom, var(--color-secundario), #121212);
    background: linear-gradient(to bottom, var(--color-secundario), #202020);
}
.card img{
    margin: 70px auto 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;

}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-body h5{
    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.card-body p{
    display: inline-block;
    font-weight: 500;
    font-size: .7rem;
}
.card-body .icono_empresa{
    border-radius: 50px;
    width: 80%;
    height: 50px;
    background-color: var(--color-white);
}
.card-body .icono_empresa img{
    margin: 10px auto;
    width: 50%;
    height: 30px;
}



/*REGISTRO Y LLENADO DE FORMULARIO*/
.wrapper_formulario{
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
.wrapper_formulario video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1;
}
.formulario{
    z-index: 999;
    padding: 30px;
    border: 1px solid #413f3fec;
    width: 50%;
    height: auto;
    border-radius: 5px;
    background-color: #130018f0;
}
.formulario h1, .formulario p{
    margin-bottom: 10px;
    color: var(--color-txtForm);
    font-family: var(--text-consola);
    font-size: 1rem;
    font-weight: 600;
}
.formulario p{
    margin-bottom: 40px;
}
.form-control {
    margin: 10px auto 20px;
    border: none;
    width: 90%;
    height: 1.2rem;
    display: inline-block;
    color: #555555;
    font-size: .9rem;
    font-family: var(--text-consola);
    background-color: transparent;
}
.form-control:focus, .form-control:visited, .form-control:active {
    color: var(--color-white);
    background-color: transparent;
    box-shadow: none;
}
.list-form{
    margin-right: 15px;
}

.icon{
    margin-right: 15px;
    font-size: 1.2rem;
}
.bi-check-lg{
    color: var(--color-verde);
}
.bi-arrow-right{
    color: var(--color-rosa);
}
.bi-x-lg{
    color: red;
}

.alertMessage{
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid red;
    width: 80%;
	font-weight: 600;
    font-family: var(--text-consola);
	color: red !important;
	text-align:  center;
	text-transform: uppercase;
	background-color: transparent;
}





/* INGRESAR */
.wrapper__registro{
    width: 100%;
    height: calc(100vh - 64px);
}
.wrapper__registro__formulario{
    width: 50%;
    background: white;
}
.contenedor__formulario{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    max-width: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo__black{
    height: 50px;
}
.wrapper_btn{
    width: 100%;
    height: 60px;
}

#loginForm{
    font-family: var(--text-consola);
}
#loginForm p{
    font-size: .9rem;
    color: var(--color-secundario);
}
#loginForm #btnPass{
    margin: 20px auto 0;
    border: none;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: .8rem;
    color: var(--color-secundario);
    background: transparent;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}
#loginForm #btnPass:hover, .wrapper_registrate a:hover{
    color: var(--color-txtForm)
}
#loginForm input{
    margin-top: 0;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    font-size: .7rem;
    color: var(--color-secundario);
    background-color: #e8f0fe;
}
#loginForm .boton-ingresar{
    margin: 30px 0;
    padding: 14px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-white);
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--text-login);
    background-color: var(--color-secundario);
    transition: all .3s ease-in-out;
}
#loginForm .boton-ingresar:hover{
    padding: 12px 22px;
    border: none;
    font-weight: 600;
    color: var(--color-black);
    background-color: var(--color-principal);
}
.loginPass{
    display: block;
}
.close{
    display: none;
}
.wrapper_registrate{
    margin-top: 60px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: .8rem;
    color: var(--color-secundario);
}
.wrapper_registrate a{
    color: var(--color-secundario);
    font-weight: 600;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.wrapper__registro__slider{
    position: relative;
    height: auto;
    width: 50%;
    overflow: hidden;
}
.wrapper__registro__slider video {
    position: fixed;
    z-index: -15;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    transform: translateX(calc((100% - 100vw) / 2));
}
.wrapper_text_slider{
    z-index: -10;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0aaf;
}
.text_slider{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e0ff00; */
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.text_slider .carousel-item p{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 2.7rem;
    font-family: var(--text-login);
    font-weight: 500;
    line-height: 1.3;
}
.text_slider .carousel-item span{
    color: #e5f876;
}
.bi-three-dots{
    font-size: 2.8rem;
    color: #e5f876;

}

/* PLATAFORMA */
.nav_plataforma{
    top: 0;
    border-bottom: 1px solid var(--color-parrafos);
    background-color: var(--color-secundario);
}
.nav_plataforma .wrapper_titulo{
    height: 42px;
}
.nav_plataforma .wrapper_titulo .titulo{
    font-size: 1.5rem;
    color: var(--color-white);
}
.bi-bell:hover{
    color: var(--color-principalHover);
    transform: scale(1.1);
    cursor: pointer;
}
.bi-dot{
    color: red;
    display: none;
}
.visible{
    display: inline-block;
}
.nombre_user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.nav_plataforma .nombre_user:hover{
    cursor: pointer;
}
.data_user{
    font-family: var(--text-Monset);
    font-weight: 700;
    font-size: .9rem;
    color: var(--color-background);
}
.nav_plataforma .enlaces ul li a{
    color: var(--color-white);
    transition: all .3s ease-in-out;
}
.nav_plataforma .enlaces ul li a:hover{
    color: var(--color-principal);
}
/*Datos de usuario en la nav*/
.wrapper_nombre_user{
    margin: 10px 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: #25d366; */
}
/*Modal de usuario*/
.modal_data_user{
    position: fixed;
    z-index: 800;
    right: 35px;
    width: 300px;
    height: 400px;
    border: 1px solid var(--color-plataforma);
    display: none;
    background-color: rgba(27, 27, 4, 0.863);
}
.modal_data_user .modal_header{
    padding: 15px;
    border-bottom: 1px solid var(--color-plataforma);
    width: 100%;
    height: 100px;
}
.modal_data_user:hover{
    cursor: pointer;
}
.background_data{
    width: 65px;
    height: 65px;
}
.modal_header .background_data .data_user{
    font-size: 1.15rem;
}
.modal_title{
    font-size: .8rem;
    font-weight: 600;
}
.modal_email{
    font-size: .6rem;
    font-weight: 400;
}


/*Modal Notificaciones*/
.wrapper_notif{
    position: relative;
    width: 90%;
}
.modal_notif{
    position: fixed;
    z-index: 800;
    right: 800px;
    padding: 10px;
    width: 280px;
    height: contain;
    min-height: 400px;
    border: 1px solid var(--color-plataforma);
    display: none;
    background-color: rgba(27, 27, 4, 0.863);right: 110px;
}
.view{
    display: block;
}

/*Botón eliminar registro*/
.wrapper_btnDelete{
    position: absolute;
    bottom: 15px;
}

/* Desafíos */
#challenges{
    max-width: 1400px;
}
#challenges button{
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
}
#challenges .modal-footer button{
    background: var(--color-verde);
}
#challenges .card-header{
    color: var(--color-principal);
    font-weight: 600;
    background: transparent;
}
#challenges .modal-body{
    color: var(--color-background);
}
#challenges #exampleModalLabel{
    color: var(--color-secundario);
}
#welcome h3{
    font-size: 1.5rem;
}

/*Developers*/
.wrapperDevs{
    display: grid;margin: 50px auto;
    padding: 30px;
    width: 80vw;
    max-width: 1300px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    justify-items: center;
    background-color: rgba(29, 28, 28, 0.89);
}
#wrapperDevs img{
    background-color: white;
}





/*Footer*/
.footer{
    margin-top: 50px;
    width: 100%;
	color: #fff;
	background: var(--color-footer);
}
.footer__wrapper{
    margin: 0 auto;
    max-width: 1200px;
	height: 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
	color: white;
    text-align: center;
}
.footer__wrapper h4{
    margin: 15px 0 8px;
    font-size: .7rem;
    font-weight: 500;
}
.pie__rrss {
    margin: 0 auto;
    width: 600px;
	padding: 0 15px;
	text-align: center;
    align-items: center;
}
.pie__rrss p{
    margin-bottom: 10px;
    font-size: .8rem;
}
.pie__rrss ul{
	margin: 0;
	padding: 0 20px;
	display: flex;
	justify-content: space-evenly;
	font-size: 16px;
}
.fa-facebook-f, .fa-linkedin-in, .fa-twitter, .fa-youtube, .fa-instagram{
	color: var(--color-principal);
    transition: all .3s ease;
}
.fa-facebook-f:hover, 
.fa-linkedin-in:hover, 
.fa-twitter:hover, 
.fa-youtube:hover, 
.fa-instagram:hover,
.autor a:hover{
	color: var(--color-txtForm);
}
.autor{
    font-size: .7rem;
}
.autor a{
	color: var(--color-principal);
    font-size: .7rem;
    transition: all .3s ease;
}



/* PLATAFORMA */
.body_plataforma{
    background-color: var(--color-background);
}


